<div id="content">

    <div id="header">
        <img id="logo" src="../../../assets/logo.gif" alt="logo">
        <div>
            <h1 style="font-size: 2rem;">Pokemondle</h1>
            <p>Trouve le pokemon !</p>
            <div id="searchBar">
                <input id="input" type="text" list="names"/>  
                <datalist id="names">
                    <option *ngFor="let name of names">{{name}}</option>
                </datalist>
            </div>
        <a class="button" (click)="guess()">Send</a>
        </div>
        <img id="logo" src="../../../assets/logo.gif" alt="logo">
    </div>

    <div id="body">

        <div>
            <p>sprite</p>
            <div id="Sprite">
            </div>
        </div>

        <div>
            <p>Generation</p>
            <div id="Gen">
            </div>
        </div>

        <div>
            <p>type n°1</p>
            <div id="type1">
            </div>
        </div>

        <div>
            <p>type n°2</p>
            <div id="type2">
            </div>
        </div>

        <div>
            <p>talent</p>
            <div id="Talent">
            </div>
        </div>

        <div>
            <p>PreEvolution</p>
            <div id="Pre">
            </div>
        </div>

        <div>
            <p>Evolution</p>
            <div id="Next">
            </div>
        </div>

        <div>
            <p>mega</p>
            <div id="Mega">
            </div>
        </div>

    </div>

</div>
